.greyBackground {
  background-color: 	#696969;
}
.gameListHeading {
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  color: white;
}
.gameListText {
  font-family: 'Rajdhani', sans-serif;
  font-size: 100%;
  color: white;
}
