<head>
</head>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">-->
</particles>

<div class="vignette"></div>
<div class="w3-container w3-padding-64">

  <div class="w3-container w3-center w3-display-middle " style="height: 50vh; width: 55vw; position: fixed; z-index: 1" [@flyInOut]="state">
    <!--<h1>SYSTEM.BREAK();</h1> -->
    <div style="position: relative; top: 45px; left: 170px; z-index: 2;">
      <i class="fa fa-times-circle w3-padding w3-xxxlarge w3-hover-opacity w3-text-white" (click)="goBack()"></i>
    </div>
    <div class="w3-center w3-display-middle">
      <div>
        <img  class="w3-display-topmiddle" style="width: 200%; position: relative; top: 90px;" src="assets/logos/systemBreakLogoSmall.png">
      </div>
      <form class="panel" onsubmit="javascript:void(0)" autocomplete="off" *ngIf="showLogin">
        <div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>Log in</h1></div>
        <div class="form">
          <input id="inputEmail" type="email" placeholder='name@email.com' autofocus required>
          <button id="createAccount" type="submit" class="login" (click)="createAccount()">Create Account</button>
          <button id="loginButton" type="submit" class="login" (click)="signInWithEmail()">Login</button>
        </div>
      </form>

      <form class="panel" onsubmit="javascript:void(0)" autocomplete="off" *ngIf="emailError">
        <div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>Log in</h1></div>
        <div class="form">
          <h5 style="color: white; text-align: center">Login failed, please try again.</h5>
          <button class="login" (click)="backToLogin()">OK</button>
        </div>
      </form>
      <form class="panel" onsubmit="javascript:void(0)" autocomplete="off" *ngIf="createAccountError">
        <div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>Log in</h1></div>
        <div class="form">
          <h5 style="color: white; text-align: center">Email is already in use.</h5>
          <button class="login" (click)="backToLogin()">OK</button>
        </div>
      </form>
    </div>
  </div>
  <div class=" backImg"></div>
</div>

