<p (click)="carousel.leftBy(2)">Left by 2</p>
<button  class="w3-center w3-left w3-padding w3-large w3-hover-opacity" (click)="carousel.left()">Left</button>
<p (click)="carousel.goTo(0)">Go to the Start</p>
<ngx-slideshow #carousel [cards]="1" [cardSize]="'250px'" [padding]="'0px'">
  <li><img src="http://i.brainking.com/rules/break/01.gif"></li>
  <li><img src="http://i.brainking.com/rules/break/02.gif"></li>
  <li><img src="https://cf.geekdo-images.com/images/pic432003_t.jpg"></li>
  <li><img src="http://via.placeholder.com/350x150"></li>
  <li><img src="http://via.placeholder.com/350x150"></li>
</ngx-slideshow>
<p (click)="carousel.goTo(5)">Go to the End</p>
<p (click)="carousel.right()">Right</p>
<p (click)="carousel.rightBy(2)">Right by 2</p>
