body {
  background: #222;
  color: #f0f0f0;
}

.headerMessage {
  color: slategray;
}

.messageBox {
  position: relative;
  top: 120px;
  left: 444px;
  transform: translate(-50%, -50%);
  font-family: 'Lucidia Console', monospace;
  font-size: 20px;
  white-space: normal;
  background-color: black;
  text-align: left;
  color: whitesmoke;
  width: 628px; // To match the image width. 728
  padding: 1px 12px 8px;
}

.blackDiv {
  position: relative;
  top: -520px;
  right: -73px;
  width: 750px;
  height: 470px;
  background-color: black;
  z-index: 0;
}

.message {
  margin: 0;
}

.navigationHand {
  background-color: black;
  opacity: .8;
}

.navigationHand:hover {
  background-color: darkgray;
  opacity: 1;
}
.handLeft{
  left: 100px;
}
.handRight{
  right: 100px;
}

img {
  width: 628px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  right: 13%;
  top: 10px;
  z-index: 1;
}
