.font{
  font-family: 'VT323', monospace;
  font-size: 400%;
}

.typingText {
  position: relative;
  top: 75%;
}

.buttonText {
  color: white;
  text-shadow: 2px 2px 4px rgb(216,65,201);
  font-family: 'Permanent Marker', cursive;
  font-size: 35pt;
}
.buttonText:hover{
  cursor: pointer;
}
