@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rajdhani');

.buttonStyle{
  width: 100%;
  font-family: 'VT323', monospace;
}

#myVideo {
  /*position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;*/
  width: 785px;
  height: 400%;
  position: relative;
  top: 30px;
  border-radius: 10px;
  right: 4px;
}

.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.buttonText {
  color: white;
  text-shadow: 2px 2px 4px rgb(216,65,201);
  font-family: 'Permanent Marker', cursive;
  font-size: 35pt;
}
.buttonText:hover{
  cursor: pointer;
}
