<!--<div id="chatContainer" class=" w3-container w3-border-color-grey w3-left w3-bottom roundedCorners" style="height: 60vh; width: 25vw; background: #2c2c2c; z-index: 1; opacity: .9; display: none;">-->
  <!--<h1 class="textStroke">Chat</h1>-->
  <!--<div class="roundedCorners chatHistory">-->
    <!--<p *ngFor="let message of messages" class="chat">-->
      <!--<span class="{{ (message.senderId === this.auth.getCurrentUser()) ? 'self' : 'opponent' }}">{{message.senderName}}</span>: {{message.message}}-->
    <!--</p>-->
  <!--</div>-->
  <!--<form onsubmit="event.preventDefault();">-->
    <!--<input id="messageBox" type="text" class="messageBox" #message placeholder="Your message..." />-->
    <!--<input type="submit" class="w3-right btn" (click)="newMessage()" value="Send Message" />-->
  <!--</form>-->
<!--</div>-->

<div id="chatContainer">
  <div style="position: absolute; background-color: black; opacity: .7; z-index: 1; height: 330px; width: 300px; left: 10px; top: 386px; border-radius: 20px">
    <!-- DIV FOR CHAT -->
  </div>
  <span class="name" style="position: absolute; top: 390px; left: 120px; z-index: 1;">chat</span>
  <div class="chatHistory2">
    <p *ngFor="let message of messages" class="chat">
      <span class="{{ (message.senderId === this.auth.getCurrentUser()) ? 'self' : 'opponent' }}">{{message.senderName}}</span>: {{message.message}}
    </p>
  </div>
  <form onsubmit="event.preventDefault();">
    <input maxlength="280" id="messageBox" type="text" class="messageBox2" #message placeholder="Your message..." />
    <button class=" w3-right btn" (click)="newMessage()" value="Send Message" >Send Message</button>
  </form>
</div>

<!--<div id="chatContainer" class=" w3-container w3-border-color-grey w3-left w3-bottom roundedCorners" style="height: 300px; width: 200px; background: #2c2c2c; z-index: 1; opacity: .9; display: none;">-->
  <!--<div class="roundedCorners chatHistory">-->
    <!--<p *ngFor="let message of messages" class="chat">-->
      <!--<span class="{{ (message.senderId === this.auth.getCurrentUser()) ? 'self' : 'opponent' }}">{{message.senderName}}</span>: {{message.message}}-->
    <!--</p>-->
  <!--</div>-->
  <!--<form onsubmit="event.preventDefault();">-->
    <!--<input id="messageBox" type="text" class="messageBox" #message placeholder="Your message..." />-->
    <!--<input type="submit" class="w3-right btn" (click)="newMessage()" value="Send Message" />-->
  <!--</form>-->
<!--</div>-->


<!-- DO NOT DELETE -->



