@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
h1{
  font-family: 'Raleway', sans-serif;
}
input, textarea {
  display:block;
  width: 100%;
  margin-bottom:15px;
  padding:10px;
  background:none;
  border-bottom: 1px solid #414a59 !important;
  border-left: 0;
  border-top: 0;
  border-right: 0 ;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.roundedCorners{
  border-radius: 25px;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #6646FF;
  border: 1px solid #6646FF;
}
