h1{
  font-family: 'Raleway', sans-serif;
}
.messageBox {
  display:block;
  width: 100%;
  margin-top:15px;

  background:none;
  border-left: 0;
  border-top: 0;
  border-right: 0 ;
  padding: 12px 20px ;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}
.messageBox2 {
  display:block;
  position: absolute;
  width: 290px;
  height: 35px;
  //top: 643px;
  top: 630px;
   left: 15px;
  // right: 25px;
  z-index: 1;

  background:none;
  border-left: 0;
  border-top: 0;
  border-right: 0 ;
  padding: 12px 20px ;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}
textarea{
  background: transparent;
  max-width:325px;
  max-height:220px;
  // resize:none;
  color:whitesmoke;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
  font-size: large;
}

.chat {
  word-wrap: break-word;
  color: whitesmoke;
  margin: 0;
}
.chat .opponent {
  color: #D2691E;
  font-weight: bold;
}
.chat .self {
  color: #1E90FF;
  font-weight: bold;
}

.chatHistory {
  height: 60%;
  background-color: #222222;
  padding: 4px;
  overflow: auto;
}

.chatHistory2 {
  position: absolute;
  //height: 220px;
  height: 170px;
  width: 290px;
  left: 15px;
 // right: 15px;
  //top: 410px;
  top: 445px;
  border-radius: 10px;
  background-color: #222222;
  opacity: .8;
  z-index: 1;
  overflow: auto;
}

.roundedCorners{
  border-radius: 20px;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  font-family: Raleway;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #6646FF;
  border: 1px solid #6646FF;
}
.btn {
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #6646FF;
  background: linear-gradient(45deg, #fff 50%, #6646FF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  position: relative;
  top: 670px;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #6646FF 50%, transparent 50%);
  z-index: -1;
}

.btn,.btn:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.btn:hover,.btn:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.textStroke{
  color:#FFF;
}
.textStroke:hover{
  color: #6646FF;
  text-shadow:
    -1px -1px 0 #6646FF
  -1px -1px 0 #6646FF
  -1px -1px 0 #6646FF
  -1px -1px 0 #6646FF
}

.name {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 250%;
  text-shadow: 2px 2px 4px rgb(216,65,201);
}
