@import url('https://fonts.googleapis.com/css?family=VT323');

h1{
  font-family: 'VT323', monospace;
  color: ivory;
}

.backImg{
  background-image: url("../../assets/backgrounds/cyberCity9.jpg");
  width: 100vw;
  height: 100vh;
}
.buttonStyle{
  width: 100%;
  font-family: 'VT323', monospace;
}

.proPic{
  width: 40%
}
