@import url('https://fonts.googleapis.com/css?family=VT323');

h1{
  font-family: 'VT323', monospace;
  color: red;
  font-size: 300%;
}

.backImg{
  background-image: url("../../assets/backgrounds/cyberCity9.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.buttonStyle{
  width: 100%;
  font-family: 'VT323', monospace;
}

.proPic{
  width: 40%
}
