<div *ngIf="auth.user | async; then authenticated else guest">

</div>

<ng-template #guest>
  <h3>Hello!</h3>
  <p>Login to play our awesome game</p>

  <button (click)="googleLogin()">
    <i class="fa fa-google"></i> Connect to Google
  </button>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3> {{ user.displayName }}</h3>
    <img  [src]='user.photoURL'>
    <p>UID: {{ user.uid }}</p>
    <p>Online</p>


    <button (click)="logout(user)">Logout</button>
  </div>
</ng-template>
