<div id="legend" class="legend" style="z-index: 5">

  <!-- LETTERS -->
  <span style="position: absolute; bottom: 5px; left: 370px" class="legendNums">A</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 450px" class="legendNums">B</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 530px" class="legendNums">C</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 610px" class="legendNums">D</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 690px" class="legendNums">E</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 770px" class="legendNums">F</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 850px" class="legendNums">G</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 930px" class="legendNums">H</span>

  <!-- NUMBERS -->
  <span style="position: absolute; bottom: 65px; left: 330px" class="legendNums">1</span>
  <span style="position: absolute; bottom: 150px; left: 321px" class="legendNums">2</span>
  <span style="position: absolute; bottom: 235px; left: 321px" class="legendNums">3</span>
  <span style="position: absolute; bottom: 320px; left: 321px" class="legendNums">4</span>
  <span style="position: absolute; bottom: 405px; left: 321px" class="legendNums">5</span>
  <span style="position: absolute; bottom: 490px; left: 321px" class="legendNums">6</span>
  <span style="position: absolute; bottom: 575px; left: 321px" class="legendNums">7</span>
  <span style="position: absolute; bottom: 660px; left: 321px" class="legendNums">8</span>
</div>
