<div id="legend" class="legend" style="z-index: 5">

  <!-- LETTERS -->
  <span style="position: absolute; bottom: 5px; left: 370px" class="legendNums">A</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 460px" class="legendNums">B</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 550px" class="legendNums">C</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 638px" class="legendNums">D</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 718px" class="legendNums">E</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 797px" class="legendNums">F</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 880px" class="legendNums">G</span>
  <span style="color: white; position: absolute; bottom: 5px; left: 970px" class="legendNums">H</span>

  <!-- NUMBERS -->
  <div *ngIf="!reversed">
    <span style="position: absolute; bottom: 65px; left: 330px" class="legendNums">1</span>
    <span style="position: absolute; bottom: 150px; left: 321px" class="legendNums">2</span>
    <span style="position: absolute; bottom: 235px; left: 321px" class="legendNums">3</span>
    <span style="position: absolute; bottom: 320px; left: 321px" class="legendNums">4</span>
    <span style="position: absolute; bottom: 405px; left: 321px" class="legendNums">5</span>
    <span style="position: absolute; bottom: 490px; left: 321px" class="legendNums">6</span>
    <span style="position: absolute; bottom: 575px; left: 321px" class="legendNums">7</span>
    <span style="position: absolute; bottom: 660px; left: 321px" class="legendNums">8</span>
  </div>
  <div *ngIf="reversed">
    <span style="position: absolute; bottom: 660px; left: 330px" class="legendNums">1</span>
    <span style="position: absolute; bottom: 575px; left: 321px" class="legendNums">2</span>
    <span style="position: absolute; bottom: 490px; left: 321px" class="legendNums">3</span>
    <span style="position: absolute; bottom: 405px; left: 321px" class="legendNums">4</span>
    <span style="position: absolute; bottom: 320px; left: 321px" class="legendNums">5</span>
    <span style="position: absolute; bottom: 235px; left: 321px" class="legendNums">6</span>
    <span style="position: absolute; bottom: 150px; left: 321px" class="legendNums">7</span>
    <span style="position: absolute; bottom: 65px; left: 321px" class="legendNums">8</span>
  </div>
</div>
