<particles [params]="myParams" [style]="myStyle" [width]=100 [height]=100>
</particles>

<div>
  <div class="background" *ngIf="showLobby">
    <div style="z-index: 1;">
      <div class="w3-bar greyBackground ulOpacity">
        <div class="w3-btn selectedButton ulOpacity" (click)="goToLobby()">
          <span class="gameListHeading">Lobby</span>
        </div>
        <div class="w3-btn greyBackground ulOpacity">
          <span class="gameListHeading" (click)="goToLeaderboard()">Leaderboard</span>
        </div>
        <div class="w3-btn w3-right greyBackground ulOpacity">
          <span class="gameListHeading" (click)="goToLogin()">Back</span>
        </div>
      </div>
    </div>


    <!-- DIV FOR LUKE -->
    <div class="w3-half" style="position: relative; z-index: 1">
      <h1 class="headingText">Choose Your Opponent!</h1> <!-- {{userName}}, -->
        <div>
          <div class="w3-center">
            <img src="{{userPic}}" style="height: 275px; width: 250px; position: absolute; left:230px; top: 175px;">
          </div>
        </div>
      </div>
    <div class="userName">
      <h2> {{userName}}</h2>
    </div>
    <div style="position: absolute; background-color: #696969; border-radius: 0px; top: 165px; left: 120px; width: 470px; height: 500px; opacity: .9"></div>
    <div class="createGameBtn" style="z-index: 2" (click)="createGame()">
      <p class="createGameBtnText">Create A Game</p>
    </div>
    <div class="w3-half" style="padding-right: 2%">
      <h1 class="headingText" style="position: relative; z-index: 1">Open Games</h1>
      <div class="scrollGames">
        <table style="width: 620px; color: red">
          <tr *ngFor="let open of openGames | async" style="width: 620px; height: 50px; position: relative; background-color: #696969; opacity: .9; border-radius: 10px;">
            <td>
              <div>
                <div class="w3-half">
                  <img src='{{open.creatorPic}}' style="width: 25%; position: relative; top: 15px;">
                  <span class="creatorNameGame">{{open.creatorName}}</span>
                  <div>
                    <span class="newGameWins">Wins: {{open.creatorWins}}</span>
                    <span class="newGameLosses">Losses: {{open.creatorLosses}}</span>
                  </div>
                </div>
                <div class="w3-half">
                  <span (click)="joinGame(open.gameId)"><i class=" fa joinGameBtn"><span class="joinGameBtnText">Join Game</span></i></span>
                </div>
              </div>

            </td>
          </tr>
        </table>
      </div>
      <div class="w3-padding-64">

      </div>
    </div>
  </div>
  <!-- LEADERBOARD DIV -->
  <div>
    <div class="background" *ngIf="showLeaderboard">
      <div class="w3-bar greyBackground ulOpacity">
        <div class="w3-btn greyBackground ulOpacity" (click)="goToLobby()">
          <span class="gameListHeading">Lobby</span>
        </div>
        <div class="w3-btn selectedButton ulOpacity">
          <span class="gameListHeading" (click)="goToLeaderboard()">Leaderboard</span>
        </div>
        <div class="w3-btn w3-right greyBackground ulOpacity">
          <span class="gameListHeading" (click)="goToLogin()">Back</span>
        </div>
      </div>

      <h1 class="headingText">Leaderboard</h1>
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
</div>

