<!--<div *ngIf="auth.user | async as user">-->
  <!--<div class="w3-container w3-center">-->
    <!--<div class="w3-row">-->
      <!--<h1> {{ user.displayName | uppercase }} </h1>-->
      <!--<img  [src]='user.photoURL' class="proPic w3-padding">-->
    <!--</div>-->
    <!--<div class="w3-row w3-padding">-->
      <!--<button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle w3-opacity-min" style="width: 40%">PLAY</button>-->
    <!--</div>-->
    <!--<div class="w3-row w3-padding">-->
      <!--<button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle w3-opacity-min" (click)="logOff()" style="width: 40%">LOGOUT</button>-->
    <!--</div>-->

   <!--&lt;!&ndash; <div class="w3-container">-->
      <!--<h1>Online Users:</h1>-->
      <!--<div *ngFor="let available of availableUsers | async" class="w3-padding">-->
        <!--<img  [src]='available.photoURL' style="width: 10%">-->
        <!--<button>Start Game with {{available.displayName}}</button>-->
      <!--</div>-->
    <!--</div> &ndash;&gt;-->

    <!--<div class = 'w3-container'>-->
      <!--<h1>Open Games:</h1>-->
      <!--<div *ngFor="let open of openGames | async">-->
         <!--{{open.creatorName}}-->
        <!--<button (click)="joinGame(user, open)">Join Game</button>-->
        <!--<br>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="w3-container w3-padding">-->
      <!--<div *ngIf="!isGameCreated">-->
        <!--<button (click)="createNewGame(user)">Create Game</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<!--  EVERYTHING BELOW IS A PROTOTYPE WITH FAKE INFO THAT IS HARD CODED IN -->

<div class="w3-container background">
  <!-- DIV FOR LUKE -->
  <div class="w3-half" *ngIf="luke">
    <h1 style="text-align: center">Choose Opponent</h1>

    <div class="w3-half">
      <img src="assets/avatars/luke.jpg" style="width: 95%;">
      <div class="w3-padding w3-center">
        <div class="w3-button w3-black">
          Join Game
        </div>
        <div class="w3-button w3-black">
          Create Game
        </div>
      </div>

    </div>
    <div class = "w3-half">
      Name: Luke Uebelein
      <br>
      Wins: 0
      <br>
      Losses: 25
    </div>
  </div>
  <!-- DIV FOR CJ -->
  <div class="w3-half" *ngIf="cj">
    <h1 style="text-align: center">Choose Opponent</h1>

    <div class="w3-half">
      <img src="../../assets/avatars/cjAvatar.png" style="width: 95%;">
      <div class="w3-padding w3-center">
        <div class="w3-button w3-black">
          Join Game
        </div>
        <div class="w3-button w3-black">
          Create Game
        </div>
      </div>

    </div>
    <div class = "w3-half">
      Name: C.J Wilson
      <br>
      Wins: 25
      <br>
      Losses: 0
    </div>
  </div>
  <!-- DIV FOR BRADLEY -->
  <div class="w3-half" *ngIf="brad">
    <h1 style="text-align: center">Choose Opponent</h1>

    <div class="w3-half">
      <img src="../../assets/avatars/bradAvatar.png" style="width: 95%;">
      <div class="w3-padding w3-center">
        <div class="w3-button w3-black">
          Join Game
        </div>
        <div class="w3-button w3-black">
          Create Game
        </div>
      </div>

    </div>
    <div class = "w3-half">
      Name: Bradley Marques
      <br>
      Wins: 1
      <br>
      Losses: 1
    </div>
  </div>
  <!-- DIV FOR DYLAN -->
  <div class="w3-half" *ngIf="dylan">
    <h1 style="text-align: center">Choose Opponent</h1>

    <div class="w3-half">
      <img src="../../assets/avatars/dylanAvatar.png" style="width: 95%;">
      <div class="w3-padding w3-center">
        <div class="w3-button w3-black">
          Join Game
        </div>
        <div class="w3-button w3-black">
          Create Game
        </div>
      </div>

    </div>
    <div class = "w3-half">
      Name: Dylan Gonzalez
      <br>
      Wins: 1
      <br>
      Losses: 1
    </div>
  </div>
  <!-- DIV FOR Alania -->
  <div class="w3-half" *ngIf="alania">
    <h1 style="text-align: center">Choose Opponent</h1>

    <div class="w3-half">
      <img src="../../assets/avatars/alaniaAvatar.png" style="width: 95%;">
      <div class="w3-padding w3-center">
        <div class="w3-button w3-black">
          Join Game
        </div>
        <div class="w3-button w3-black">
          Create Game
        </div>
      </div>

    </div>
    <div class = "w3-half">
      Name: Alania Bridges
      <br>
      Wins: 0
      <br>
      Losses: 0
    </div>
  </div>


  <div class="w3-half">
    <h1 style="text-align: center">Open Games</h1>
    <div>
      <div *ngIf="auth.user | async as user">
        <ul class="w3-ul w3-card-4">

            <li class="w3-bar greyBackground">
              <div *ngFor="let open of openGames | async">
                <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_luke()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <img src="assets/avatars/luke.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                  <span class="w3-large">{{open.creatorName}}</span><br>
                  <span>0 wins; 25 Losses</span>
                </div>
              </div>
            </li>



          <li class="w3-bar greyBackground">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_luke()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <img src="assets/avatars/luke.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Luke Uebelein</span><br>
              <span>0 wins; 25 Losses</span>
            </div>
          </li>

          <li class="w3-bar greyBackground">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_cj()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <img src="assets/avatars/cjAvatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">C.J. Wilson</span><br>
              <span>25 wins; 0 Losses</span>
            </div>
          </li>

          <li class="w3-bar greyBackground">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_brad()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <img src="assets/avatars/bradAvatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Bradley Marques</span><br>
              <span>1 win; 1 Loss</span>
            </div>
          </li>
          <li class="w3-bar greyBackground">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_dylan()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <img src="assets/avatars/dylanAvatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Dylan Gonzalez</span><br>
              <span>1 win; 1 Loss</span>
            </div>
          </li>
          <li class="w3-bar greyBackground">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)="click_alania()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <img src="assets/avatars/alaniaAvatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Alania Bridges</span><br>
              <span>0 wins; 0 Losses</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="w3-padding-64">

      </div>
    </div>
  </div>
</div>

