@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rajdhani');

.background{
  background-color: #6B5B95;
  background-image: url("../../assets/backgrounds/lobbybackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.scrollGames {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 165px;
  overflow: scroll;
}

.greyBackground{
  // background-color: #AA99AA;
   background-color: 	#696969;
}

.openGameBar {
  position: absolute;
  top: 30px;
 // border-radius: 10px;
}

.selectedButton {
  background-color: #494949;
  color: white;
}

.infoText {
  font-size: 200%;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

.gameListHeading {
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  color: white;
}
.gameListText {
  font-family: 'Rajdhani', sans-serif;
  font-size: 100%;
  color: white;
}

.headingText{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 300%;
  color: white;
  text-shadow: 2px 2px 4px rgb(216,65,201);
}

.button{
  font-family: 'Rajdhani', sans-serif;
  font-size: 125%;
}

.ulOpacity {
  opacity: .9;
}

.createGameBtn {
  height: 75px;
  width: 250px;
  background-color: cadetblue;
  border-radius: 10px;
  position: absolute;
  top: 500px;
  left: 230px;
  opacity: 1;
  cursor: pointer;
}
.createGameBtn:hover {
  opacity: 1;
  box-shadow: 0px 0px 20px rgb(216,65,201);
}
.createGameBtnText {
  color: white;
  position: relative;
  top: -5px;
  left: 35px;
  text-shadow: 2px 2px 4px rgb(216,65,201);
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
}

.joinGameBtn {
  position: relative;
  left: 220px;
  top: 15px;
  height: 55px;
  width: 200px;
  background-color: cadetblue;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
}
.joinGameBtn:hover {
  opacity: 1;
  box-shadow: 0px 0px 20px rgb(216,65,201);
}
.joinGameBtnText {
  color: white;
  text-shadow: 2px 2px 4px rgb(216,65,201);
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  position: relative;
  top: -7px;
  left: 32px;
}
