<div class="w3-display-container background">
  
<p class="w3-center header" style="clear: both; margin: 0px; padding: 0px; margin-bottom: 15px;">Defeat</p>

<div class="w3-row" style="height: 89.5%; clear: both;">

    <div class="w3-half w3-display-container w3-display-center w3-center cardStyleMid" style="height: 85%; margin-left: 407px; width: 40%;">
        <img src='{{loserPic}}' class="w3-half w3-display-topmiddle"  style="max-height: 50%; height: auto; width: auto; top: 20px; opacity: 1;">
        <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
            <p>{{loserName}}</p>
            <p>Wins: {{loserWins}}</p>
            <p>Losses: {{loserLosses}}</p>
            You were defeated by the opposing team.
    </div>
    </div>

</div>

    <div class="w3-container w3-padding w3-display-bottomleft buttonOpacity">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" (click)="returnToLeaderboard()">Return to Leaderboard</button>
    </div>
    <div class="w3-container w3-padding w3-display-bottomright buttonOpacity">
        <button id="playButton" class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" (click)="returnToMenu()" style="margin-right: 10px;">Return to Menu</button>
      </div>
  </div>
