<div class="background">

  <!--<div>
    <h1>Player 1 (Creator): {{creatorName}}</h1>
    <h1>Player 2 (Joiner): {{joinerName}}</h1>
  </div>

// TODO: page header, background for settings, clean up -->

<div class="w3-row-padding" style="padding-top: 50px; padding-left: 10px; height: 95%;">

    <div class="w3-third w3-display-container w3-left cardStyle" style="height: 94%; margin: 5px; margin-right: 7px;">
        <img src='{{creatorPic}}' class="w3-half w3-display-topmiddle">
        <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
            <p>{{creatorName}}</p>
            <p>Wins: {{creatorWins}}</p>
            <p>Losses: {{creatorLosses}}</p>
        Suppress the rogue team!
    </div>
    </div>

      <div class="w3-third w3-container w3-center cardStyle" style="width: 31%; margin-top: 250px;">
        Who goes first?<br>
          <mat-button-toggle-group [(ngModel)]="playerOrderGroup">
            <mat-button-toggle value="p1" style="color: black;">Player 1</mat-button-toggle>
            <mat-button-toggle value="rand" style="color: black;">Random</mat-button-toggle>
            <mat-button-toggle value="p2" style="color: black;">Player 2</mat-button-toggle>
          </mat-button-toggle-group>
      </div>

      <div class="w3-third w3-display-container w3-right cardStyle" style="height: 94%; margin: 5px;">
              <img src='{{joinerPic}}' class="w3-half w3-display-topmiddle">
              <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
                <p>{{joinerName}}</p>
                <p>Wins: {{joinerWins}}</p>
                <p>Losses: {{joinerLosses}}</p>
              Crush the Corporation!
              </div>
        </div>
</div>

    <div class="w3-container w3-padding w3-display-bottomleft buttonOpacity">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" (click)="returnToMenu()">Return to Menu</button>
    </div>
    <div class="w3-container w3-padding w3-display-bottomright buttonOpacity">
        <button id="playButton" class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" disabled="true" (click)="goToBoard()">Play Game</button>
      </div>
  </div>