<div class="background">

  <!--<div>
    <h1>Player 1 (Creator): {{creatorName}}</h1>
    <h1>Player 2 (Joiner): {{joinerName}}</h1>
  </div>

// TODO: page header, background for settings, clean up -->

<div class="w3-row-padding" style="padding-top: 100px; padding-left: 100px; height: 90%;">

    <div class="w3-third w3-display-container w3-left" style="height: 85%">
        <img src="assets/avatars/luke.png" class="w3-twothird w3-display-topmiddle">
        <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle" style="clear:both;">
          {{CreatorName}}
          <br>
          Wins: 0
          <br>
          Losses: 25
        </div>

      <div class="w3-row w3-padding w3-display-bottommiddle">
        Suppress the rogue team!
      </div>
    </div>

      <!--<div class="w3-third">
        <div class="w3-padding w3-third w3-center">
          Choose AI Difficulty
          <div>
            <mat-button-toggle-group>
              <mat-button-toggle>Unfriendly</mat-button-toggle>
              <mat-button-toggle>Wrathful</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>-->

      <div class="w3-third w3-container w3-center" style="background-color: rgb(39, 39, 39); color: white; min-width: 285px;">
        Who goes first?<br>
          <mat-button-toggle-group [(ngModel)]="playerOrderGroup">
            <mat-button-toggle value="p1" style="color: white;">Player 1</mat-button-toggle>
            <mat-button-toggle value="rand" style="color: white;">Random</mat-button-toggle>
            <mat-button-toggle value="p2" style="color: white;">Player 2</mat-button-toggle>
          </mat-button-toggle-group>
      </div>

      <div class="w3-third w3-display-container w3-right" style="height: 85%">
              <img src="assets/avatars/dylanAvatar.png" class="w3-twothird w3-display-topmiddle">
              <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle" style="clear:both;">
                {{JoinerName}}
                <br>
                Wins: 1
                <br>
                Losses: 1
            </div>

            <div class="w3-row w3-padding w3-display-bottommiddle">
              Crush the Corporation!
            </div>
        </div>
</div>

    <div class="w3-container w3-padding w3-display-bottomleft">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="returnToMenu()">Return to Menu</button>
    </div>
    <div class="w3-container w3-padding w3-display-bottomright">
        <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="goToBoard()">Play Game</button>
      </div>
  </div>

