<div class="background"style="width: 100%;">
  
<p class="w3-padding w3-row w3-center header" style="clear: both;">Congratulations!</p>

<div class="w3-row" style="padding-top: 50px; height: 95%; clear: both;">

    <div class="w3-half w3-display-container cardStyleMid" style="height: 94%; margin: 0 auto; width: 60%;">
        <img src='{{winnerPic}}' class="w3-half w3-display-topmiddle">
        <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
            <p>{{winnerName}}</p>
            <p>Wins: {{winnerWins}}</p>
            <p>Losses: {{winnerLosses}}</p>
    </div>
    </div>

</div>

    <div class="w3-container w3-padding w3-display-bottomleft buttonOpacity">
      <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" (click)="returnToLeaderboard()">Return to Leaderboard</button>
    </div>
    <div class="w3-container w3-padding w3-display-bottomright buttonOpacity">
        <button id="playButton" class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min buttonStyle" (click)="returnToMenu()">Return to Menu</button>
      </div>
  </div>
