<div class="background">

  <!-- some kind of animations - background is plain
  // TODO: page header, background for settings, clean up -->
  <div class="w3-row-padding" style="padding-top: 80px; padding-left: 10px; height: 90%;">

      <div class="w3-third w3-display-container w3-left cardStyleLeft" style="height: 90%; margin: 5px; margin-right: 7px;">
          <img src='{{creatorPic}}' class="w3-half w3-display-topmiddle">
          <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
              <p>{{creatorName}}</p>
              <p>Wins: {{creatorWins}}</p>
              <p>Losses: {{creatorLosses}}</p>
          Defeat the rogue AI!
      </div>
      </div>

      <div class="w3-third w3-container w3-center cardStyleMid" style="width: 31%;">
          Choose AI difficulty:<br>
            <mat-button-toggle-group [(ngModel)]="AiDifficultyGroup">
              <mat-button-toggle value="easy" style="color: white;">Unfriendly</mat-button-toggle> <!-- set default -->
              <mat-button-toggle value="hard" style="color: white;">Wrathful</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="w3-third w3-container w3-center cardStyleMid" style="width: 31%; position: relative; right: 31.25%; top: 100px;">
          Who goes first?<br>
            <mat-button-toggle-group [(ngModel)]="playerOrderGroup">
              <mat-button-toggle value="player" style="color: white;">Player</mat-button-toggle>
              <mat-button-toggle value="rand" style="color: white;">Random</mat-button-toggle>
              <mat-button-toggle value="ai" style="color: white;">AI</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="w3-third w3-display-container w3-right cardStyleRight" style="height: 90%; margin: 5px; position: relative; bottom: 75px;">
               <img src='{{AiPic}}' class="w3-half w3-display-topmiddle" style="opacity: 1;">
                <div class = "infoText" class="w3-l4 w3-padding w3-display-middle w3-display-bottommiddle">
                  <p>AI</p>
                  <p>Wins: ???</p>
                  <p>Losses: 0</p>
                Crush the Corporation!
                </div>
          </div>
  </div>

      <div class="w3-container w3-padding w3-display-bottomleft">
        <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="returnToMenu()">Return to Menu</button>
      </div>
      <div class="w3-container w3-padding w3-display-bottomright">
          <button class="w3-btn w3-round-xlarge w3-large w3-black buttonStyle w3-opacity-min" (click)="goToBoard()">Play Game</button>
        </div>
    </div>
