@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rajdhani');

.board {
  position: absolute;
  left: 350px;
  top: 30px;

}

.shapeBoard {
  padding-top: 20px;
  border-bottom: 500px solid red;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 500px;
}

.row{
  display: table;//flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  width: 680px;
}

.gameStatus {
  margin: 0;
  padding: 15px;
  background-color: #34495e;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.restart{
  background-color: #34495e;
  color: white;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  width: 100%;
}

.restart:hover{
  background-color: #c1cdcd;
  cursor: pointer;
}

.cell{

  /*width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 3px solid #f4af78;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;*/
  float: left;
}

.cell:hover{
  background-color: #c1cdcd;
}

#chessboard {
  width:384px;
  height:384px;
  border:4px solid #FF0000;
}

.black_square, .white_square {
  width:48px;
  height:48px;
  float:left;
}

.black_square {
  background-color:#000000;
}

.white_square {
  background-color:#FFFFFF;
}
.backImg{
  background-image: url("../../assets/backgrounds/abstract.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.connectionLost {
  position: relative;
  height: 500px;
  width: 800px;
  top: -670px;
  left: 22.3%;
}

.connectionLostText {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 350%;
  text-shadow: 2px 2px 4px rgb(216,65,201);
}

.imgShake {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.name {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 250%;
  text-shadow: 2px 2px 4px rgb(216,65,201);
}
.name2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 320%;
  text-shadow: 4px 4px 8px rgb(216,65,201);
}

.settingsCog:hover {
  animation: fa-spin 2.5s infinite linear;
}

.legendNums {
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 4px rgb(216,65,201);
  font-size: 24pt;
}

.loadingText {
  color: #F2F2F2;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 16pt;
}
.toolButtons {
  position: absolute;
  right: 40px;
  height: 70px;
  width: 280px;
  background-color: rgb(216,65,201);
  opacity: .8;
  border-radius: 10px;
}
.toolButtons:hover {
  opacity: 1;
}

.toolButtonText {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20pt;
  color: #F2F2F2;
  position: relative;
  top: -5px;
}
