<!--
<div class="w3-container">
  <div class="board w3-middle">
    <div class="cell" *ngFor="let col of boardCells | async" (click)="makeMove(col.id, col.isOn)">
      <p style="color: white; font-size: 20%">{{col.id}}</p>
      <img src="/assets/avatar.png" *ngIf="col.isOn" style="width: 50%">
    </div>
  </div>
</div>
-->
<div class="w3-container">
  <h1 style="text-align: center">GAME BOARD</h1>
  <div class="w3-display-middle w3-border">
    <div class="w3-row">
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="57">
          <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" id="58" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" id="59" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" id="60" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" id="61" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" id="62" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" id="63" (click)="getCell($event)">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" id="64" (click)="getCell($event)">
        <p>X</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="49">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="50">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="51">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="52">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="53">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="54">
        <p>X</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="55">
        <p>X</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="56">
        <p>X</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="41">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="42">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="43">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="44">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="45">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="46">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="47">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="48">

      </div>
    </div>
    <div class="w3-row">
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="33">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="34">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="35">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="36">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="37">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="38">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="39">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="40">

      </div>
    </div>
    <div class="w3-row">
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="25">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="26">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="27">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="28">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="29">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="30">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="31">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="32">

      </div>
    </div>
    <div class="w3-row">
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="17">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="18">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="19">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="20">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="21">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="22">

      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="23">

      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="24">

      </div>
    </div>
    <div class="w3-row">
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="9">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="10">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="11">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="12">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="13">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="14">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="15">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="16">
        <p>O</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="1">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="2">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="3">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="4">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="5">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="6">
        <p>O</p>
      </div>
      <div class="w3-black w3-container w3-col w3-hover-opacity" style="width: 80px; height: 80px" (click)="getCell($event)" id="7">
        <p>O</p>
      </div>
      <div class="w3-white w3-container w3-col w3-hover-light-grey" style="width: 80px; height: 80px" (click)="getCell($event)" id="8">
        <p>O</p>
      </div>
    </div>
  </div>
</div>
