<!--
<audio autoplay id="audioPlayer">
  <source src="../../assets/music/Garoad - VA-11 HALL-A - Second Round - 16 JC Elton's.mp3" type="audio/mpeg">
</audio>
-->
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
</particles>
<div class=" backImg">

  <div class="w3-container w3-center w3-display-middle " style="height: 50vh; width: 40vw; position: fixed; z-index: 1" [@flyInOut]="state">
    <div class="w3-center w3-display-middle">
      <!--<h1>SYSTEM.BREAK();</h1> -->

      <img src="../../assets/logos/systemBreakLogoSmall.png" style="width: 200%; position: relative; right: 142px; top: -20px">

      <div class="w3-row w3-padding w3-opacity-min">
        <button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle " (click)="googleLogin()">Login with Google</button>
      </div>
      <div class="w3-row w3-padding w3-opacity-min">
        <button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle" (click)="facebookLogin()">Login with Facebook</button>
      </div>
      <div class="w3-row w3-padding w3-opacity-min">
        <button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle ">Play as Guest</button>
      </div>
    </div>
  </div>
</div>



