@import url('https://fonts.googleapis.com/css?family=VT323');

.backImg{
  background-image: url("../../assets/backgrounds/cyberCity9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.buttonStyle{
  width: 100%;
  font-family: 'VT323', monospace;
}

h1{
  font-family: 'VT323', monospace;
  font-size: 550%;
  color: #E93336;
}
