  <p>
    <button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle " (click)="logOff()">Logout</button>
  </p>
  <audio id="demo" src="assets/music/Garoad - VA-11 HALL-A - Second Round - 16 JC Elton's.mp3" type="audio/mpeg"></audio>
  <div w3-center>
    <button onclick="document.getElementById('demo').play()">Play the Audio</button>
    <button onclick="document.getElementById('demo').pause()">Pause the Audio</button>
    <button onclick="document.getElementById('demo').volume+=0.1">Increase Volume</button>
    <button onclick="document.getElementById('demo').volume-=0.1">Decrease Volume</button>
  </div>
  <h3 style="color: ActiveBorder;">Change Your Avatar </h3>
  <ngx-slideshow #carousel [cards]="3" [cardSize]="'100px'" [padding]="'0px'">
    <li>
    <img src="assets/avatars/circle.png" width="100" height="100">
    </li>
    <li>
      <img src="assets/avatars/virus.png" width="100" height="100">
    </li>
    <li>
      <img src="assets/avatars/virus2.png" width="100" height="100">
    </li>
    <li>
      <img src="assets/avatars/circle.png" width="100" height="100">
    </li>
    <li>
      <img src="assets/avatars/virus.png" width="100" height="100">
    </li>
    <li>
      <img src="assets/avatars/virus2.png" width="100" height="100">
    </li>
  </ngx-slideshow>
  <div style="bottom: 80px; right: 10px; position: relative">
  <p class="w3-xlarge w3-display-left w3-text-aqua w3-hover-opacity fa fa-hand-o-left handLeft navigationHand"(click)="carousel.left()"></p>
  </div>
  <div style="bottom: 80px; left: 10px; position: relative">
  <p class="w3-padding w3-xlarge w3-display-right w3-text-aqua w3-hover-opacity fa fa-hand-o-right handRight navigationHand"(click)="carousel.right()"></p>
  </div>
