.headingFont{
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 350%;
  text-shadow: 2px 2px 4px rgb(216,65,201);
}

.buttonStyle{
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  color: white;
  // background-color: #6B5B95;
  background-color: rgba(228, 186, 230, .7);
  border-width: 1px;
  border-color: rgb(216,65,201);
  border-radius: 5px;
  width: 200px;
  height: 75px;
}

.disabledButtonStyle{
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  color: white;
  // background-color: #6B5B95;
  background-color: rgba(69, 69, 69, .7);
  border-width: 1px;
  border-color: rgb(216,65,201);
  border-radius: 5px;
  width: 200px;
  height: 75px;
}

.buttonStyle:hover {
  border-width: 2.5px;
  border-color: rgba(239, 74, 223, .7);
}

mat-slider {
  width: 300px;
}

.lead {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 220%;
  padding-top: 2%;
}

.member {
  text-align: left;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
}

b {
  text-shadow: 1px 1px 2px rgb(216,65,201);
}
