@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rajdhani');

.headingFont{
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 350%;
}

.buttonStyle{
  font-family: 'Rajdhani', sans-serif;
  font-size: 150%;
  color: white;
  // background-color: #6B5B95;
  background-color: rgba(228, 186, 230, .7);
  border-width: 1px;
  border-color: rgb(216,65,201);
  border-radius: 5px;
  width: 200px;
  height: 75px;
}

.buttonStyle:hover {
  border-width: 2.5px;
  border-color: rgba(239, 74, 223, .7);
}

.lead {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 200%;
  padding-top: 2%;
}

.member {
  text-align: left;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 125%;
}
