  <!--<p>-->
    <!--<button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle " (click)="logOff()">Logout</button>-->
  <!--</p>-->
  <!--<audio id="demo" src="assets/music/Garoad - VA-11 HALL-A - Second Round - 16 JC Elton's.mp3" type="audio/mpeg"></audio>-->
  <!--<div w3-center>-->
    <!--<button onclick="document.getElementById('demo').play()">Play the Audio</button>-->
    <!--<button onclick="document.getElementById('demo').pause()">Pause the Audio</button>-->
    <!--<button onclick="document.getElementById('demo').volume+=0.1">Increase Volume</button>-->
    <!--<button onclick="document.getElementById('demo').volume-=0.1">Decrease Volume</button>-->
  <!--</div>-->
  <!--<div class="w3-padding w3-container w3-round-xlarge w3-black buttonStyle">-->
    <!--<h3 style="color: ActiveBorder;">Change Your Avatar </h3>-->
    <!--<ngx-slideshow #carousel [cards]="3" [cardSize]="'100px'" [padding]="'0px'">-->
      <!--<li>-->
      <!--<img src="assets/avatars/circle.png" width="100" height="100">-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/avatars/virus.png" width="100" height="100">-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/avatars/virus2.png" width="100" height="100">-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/avatars/circle.png" width="100" height="100">-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/avatars/virus.png" width="100" height="100">-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/avatars/virus2.png" width="100" height="100">-->
      <!--</li>-->
    <!--</ngx-slideshow>-->
    <!--<div>-->
      <!--<p class="w3-padding w3-xxlarge w3-display-left buttonStyle w3-text-white w3-hover-opacity fa fa-hand-o-left handLeft navigationHand"(click)="carousel.left()"></p>-->
    <!--</div>-->
    <!--<div>-->
      <!--<p class="w3-padding w3-xxlarge w3-display-right buttonStyle w3-text-white w3-hover-opacity fa fa-hand-o-right handRight navigationHand"(click)="carousel.right()"></p>-->
    <!--</div>-->
  <!--</div>-->

  <!--<script>-->
    <!--var audio, playbtn;-->
    <!--function initAudioPlayer(){-->
      <!--audio = new Audio();-->
      <!--audio.src = "assets/music/Garoad - VA-11 HALL-A - Second Round - 16 JC Elton's.mp3";-->
      <!--audio.loop = true;-->
      <!--audio.play();-->
    <!--}-->
    <!--window.addEventListener(load, initAudioPlayer);-->
  <!--</script>-->

  <div *ngIf="showSettings">
    <h1 class="headingFont">SETTINGS</h1>
    <div class="w3-container w3-padding-16">
      <div class="w3-container">
        <div class="w3-container">
          <div class="w3-half">
            <button class="buttonStyle" style="position: relative; left: 22.5%" (click)="showChangeAvatar()">Change Avatar</button>
          </div>
          <div class="w3-half">
            <button class="buttonStyle" style="position: relative; right: 22.5%" (click)="showVolume()">Volume</button>
          </div>
        </div>
        <div class="w3-container w3-padding-16">
          <div class="w3-half">
            <button class="buttonStyle" style="position: relative; left: 22.5%" (click)="showCredits()">Credits</button>
          </div>
          <div class="w3-half">
            <button class="buttonStyle" style="position: relative; right: 22.5%" (click)="goToIntro()">Intro</button>
          </div>
        </div>
        <div class="w3-container">
          <div>
            <button class="buttonStyle" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="changeAvatar">
    <h1 class="headingFont">Change Your Avatar</h1>
    <div class="w3-container w3-padding-16">
      <div class="w3-container">
        <ngx-slideshow class="w3-text-white" #carousel [cards]="2" [cardSize]="'250px'" [padding]="'10px'">
          <li>
          <div (click)="circleSelected()">
            <div *ngIf="avatar1Selected" style="background-color: rgba(228, 186, 230, .7); border-radius: 1300px;">
              <img src='assets/avatars/hackerAvatar1.png' height = "200px" width="150px">
            </div>
            <div *ngIf="!avatar1Selected">
              <img src='assets/avatars/hackerAvatar1.png' height = "200px" width="150px">
            </div>
          </div>
          </li>
          <li>
          <div (click)="virusSelected()">
            <div *ngIf="avatar2Selected" style="background-color: rgba(228, 186, 230, .7); border-radius: 1300px;">
              <img src='assets/avatars/hackerAvatar2.png' height = "200px" width="150px">
            </div>
            <div *ngIf="!avatar2Selected">
              <img src='assets/avatars/hackerAvatar2.png' height = "200px" width="150px">
            </div>
          </div>
          </li>
          <li>
          <div (click)="virus2Selected()">
            <div *ngIf="avatar3Selected" style="background-color: rgba(228, 186, 230, .7); border-radius: 1300px;">
              <img src="assets/avatars/hackerAvatar3.png" height = "200px" width="150px">
            </div>
            <div *ngIf="!avatar3Selected">
              <img src="assets/avatars/hackerAvatar3.png" height = "200px" width="150px">
            </div>
          </div>
          </li>
          <li>
            <div (click)="cyberPunkBoySelected()">
              <div *ngIf="avatar4Selected" style="background-color: rgba(228, 186, 230, .7); border-radius: 1300px;">
                <img src="assets/avatars/cyberpunk boy.png" height = "200px" width="150px">
              </div>
              <div *ngIf="!avatar4Selected">
                <img src="assets/avatars/cyberpunk boy.png" height = "200px" width="150px">
              </div>
            </div>
          </li>
  </ngx-slideshow>
     <p class="w3-padding w3-xxxlarge w3-display-left w3-text-white w3-hover-opacity w3-round-xlarge fa fa-chevron-circle-left"(click)="carousel.left();" style="z-index: 1"></p>
        <p class="w3-padding w3-xxxlarge w3-display-right w3-text-white w3-hover-opacity w3-round-xlarge fa fa-chevron-circle-right"(click)="carousel.right();" style="z-index: 1"></p>
        <div class="w3-container w3-padding">
          <div class="w3-half" style="position: relative;">
            <button class="buttonStyle" style="position: relative; left: 22.5%" (click)="selectAvatar()">Select</button>
          </div>
          <div class="w3-half" style="position: relative;">
            <button class="buttonStyle" style="position: relative; right: 22.5%" (click)="goBack()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="volume">
    <h1 class="headingFont">Volume Level</h1>
    <div class="w3-container w3-padding-16">
      <div class="w3-container">

        <div class="w3-container">
          <div class="w3-container">
            <mat-slider [min]="0" [max]="1" [step]=".1" [(ngModel)]="sliderVolume" (ngModelChange)="changeVolumeLevel($event)" ></mat-slider>
          </div>
          <div class="w3-padding-32">
            <button class="buttonStyle" (click)="goBack()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="credits">
    <h1 class="headingFont">Credits</h1>
    <div class="w3-container">
        <div class="w3-container " style="width: 800px; height: 300px; background-color: rgba(228, 186, 230, .7); position: relative; left: 4%; border-style: solid; border-width: 1px; border-color: rgb(216,65,201); border-radius: 5px">
          <div class="w3-container">
            <div class="lead">Team Lead: <b>C.J. Wilson</b></div>
            <div style="position: relative; left: 8%">
              <div class="w3-half">
                <p class="member">Game Core Lead: <b>Bradley Marques</b></p>
                <p class="member">A.I. Lead: <b>C.J. Wilson</b></p>
                <p class="member">GUI & Networking Lead: <b>Luke Uebelein</b></p>
              </div>
              <div class="w3-half">
                <p class="member">Help Lead: <b>Dylan Gonzalez</b></p>
                <p class="member">GUI Co Lead: <b>Alaina Bridges</b></p>
                <p class="member">Graphic Designer: <b>Haydin Hall</b></p>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-container w3-padding">
          <div>
            <button class="buttonStyle" (click)="goBack()">Back</button>
          </div>
        </div>
    </div>
  </div>
