  <p>
    <button class="w3-btn w3-round-xlarge w3-xlarge w3-black buttonStyle " (click)="logOff()">Logout</button>
  </p>
  <audio id="demo" src="assets/music/Garoad - VA-11 HALL-A - Second Round - 16 JC Elton's.mp3" type="audio/mpeg"></audio>
  <div>
    <button onclick="document.getElementById('demo').play()">Play the Audio</button>
    <button onclick="document.getElementById('demo').pause()">Pause the Audio</button>
    <button onclick="document.getElementById('demo').volume+=0.1">Increase Volume</button>
    <button onclick="document.getElementById('demo').volume-=0.1">Decrease Volume</button>
  </div>
  <form class="panel" onsubmit="javascript:void(0)">
    <div class="form">
        <h3 style="color: ActiveBorder;">Change Your Avatar </h3>
        <div class="w3-third" style="padding-top: 1%">
          <div (click)="circleSelected()">
            <div *ngIf="avatar1Selected" style="background-color: #00FFFF; opacity: .9">
              <img src="assets/avatars/circle.png" width="50%">
            </div>
            <div *ngIf="!avatar1Selected">
              <img src="assets/avatars/circle.png" width="50%">
            </div>
          </div>
        </div>
        <div class="w3-third" style="padding-top: 5%; padding-bottom: 10%">
          <div (click)="virusSelected()">
            <div *ngIf="avatar2Selected" style="background-color: #00FFFF; opacity: .9">
              <img src="assets/avatars/virus.png" width="50%">
            </div>
            <div *ngIf="!avatar2Selected">
              <img src="assets/avatars/virus.png" width="50%">
            </div>
          </div>
        </div>
        <div class="w3-third" style="padding-top: 5%">
          <div (click)="virus2Selected()">
            <div *ngIf="avatar3Selected" style="background-color: #00FFFF; opacity: .9">
              <img src="assets/avatars/virus2.png" width="50%">
            </div>
            <div *ngIf="!avatar3Selected">
              <img src="assets/avatars/virus2.png" width="50%">
            </div>
          </div>
        </div>
    </div>
  </form>
